/* @import url('https://fonts.cdnfonts.com/css/amiga-forever'); */

@font-face {
	font-family: "Amiga Forever";
	src: url("/fonts/amiga4ever.ttf") format("truetype"),
		url("/fonts/amiga4ever-pro.ttf") format("truetype"),
		url("/fonts/amiga4ever-pro2.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

:root {
	color-scheme: dark;
	color: #f0f0f0;
	background-color: #202020;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif; /* Use the Amiga font */
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: #f0f0f0; /* Amiga Workbench text color */
	background-color: #202020; /* Amiga Workbench background color */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	width: 100%;
	height: 100%;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

pre {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 12px;
}

body {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #202020; /* Amiga Workbench background */
}

a {
	font-weight: 500;
	color: #00aaff; /* Amiga Workbench link color */
	text-decoration: none;
}
a:hover {
	color: #ffaa00; /* Hover color for links */
	/* color: #66ccff;  */
}

h1 {
	font-size: 1.5em;
	line-height: 1.2;
	color: #f0f0f0;
}

h3 {
	margin-top: 0px;
	margin-bottom: 2px;
}

button,
input,
textarea,
select,
checkbox {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #303030; /* Amiga-style button background */
	border: 2px solid #505050; /* Amiga-style border */
	color: #f0f0f0;
	padding: 4px;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; /* Amiga-style 3D effect */
	cursor: pointer;
}
button:hover,
input:hover,
textarea:hover,
select:hover {
	background-color: #404040; /* Slightly lighter hover effect */
}
button:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: #66ccff;
}

input:disabled,
select:disabled,
label input:disabled + span,
label select:disabled + span {
	color: #505050; /* Slightly greyish text for disabled fields */
	background-color: #404040; /* Keep the Amiga-style background */
}

input[type="text"]:disabled {
	color: #505050; /* Greyish text for disabled text inputs */
}

.logWindow {
	position: fixed;
	background: black;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	pointer-events: none;
	z-index: 1000;
	width: 500px;
	height: 300px;
	overflow-y: auto;
}

.logWindow pre {
	font-size: 10px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: hidden,;
}

.three-panel-layout {
	display: flex;
	height: 100vh;
	background-color: #303030; /* Amiga-style panel background */
	border: 2px solid #505050; /* Amiga-style border */
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.left-panel {
	width: 80%; /* 80% of the horizontal space */
	display: flex;
	flex-direction: column;
	border-right: 2px solid #505050;
	background-color: #303030;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

/* .right-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #505050;
	border-left: 2px solid #505050;
} */

.top-right-panel,
.bottom-right-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
	border-bottom: 2px solid #505050;
	overflow-y: auto;
}

.bottom-right-panel {
	border-bottom: none; /* Remove border for the last panel */
}

.top-panel {
	flex: 1; /* 50% of the vertical space */
	display: flex;
	background-color: #404040;
	border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.top-panel .midi-output,
.top-panel .midi-inputs {
	flex: 1; /* 50% of the horizontal space */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 2px solid #505050;
	padding: 10px;
}

.top-panel .midi-inputs {
	border-right: none; /* Remove border for the last panel */
}

.middle-panel {
	flex: 1;
	background-color: #404040;
	border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.bottom-panel {
	flex: 1;
	display: flex;
	background-color: #404040;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.instance-creation {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: #303030;
	/* border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; */
}

.instance-creation-main-panel {
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #404040;
	/* border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; */
}

/* .instance-creation-left-panel {
	display: flex;
	min-width: 70%;
	max-width: 90%;
	width: 90%;
	flex-direction: column;
	background-color: #404040;
	border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
} */

/* .instance-creation-right-panel {
	display: flex;
	flex: 2;
	flex-direction: column;
	height: 100%;
	background-color: #404040;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	max-width: 260px;
	width: 260px;
	min-width: 260px;
} */

.instance-creation-midi-output,
.instance-creation-midi-inputs,
.instance-creation-info-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
}

.instance-creation-midi-output {
	flex: 4; /* 40% of the horizontal space */
	border-right: 2px solid #505050;
}

.instance-creation-midi-inputs {
	flex: 4;
	/* border-right: 2px solid #505050; */
}

.instance-creation-info-panel {
	flex: 2;
}

.info-content {
	font-family: "Amiga Forever", inherit;
	font-size: 12px;
	color: #f0f0f0;
	text-align: center;
	background-color: #505050;
	padding: 10px;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.device-class-left-panel {
	flex: 4;
	background-color: #303030;
	border-right: 2px solid #505050;
}

.device-list {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	overflow-x: auto;
}

.device-name {
	font-size: 12px;
	font-weight: bold;
	color: #f0f0f0;
	text-align: center;
}

.device-item {
	font-size: 12px;
	padding: 5px;
	cursor: pointer;
	background-color: #303030;
	border: 1px solid #505050;
	margin-bottom: 5px;
	text-align: left;
}

.device-item:hover {
	background-color: #404040;
}

.device-class-right-panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.device-class-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.device-class-item {
	font-size: 12px;
	padding: 5px;
	cursor: pointer;
	background-color: #303030;
	border: 1px solid #505050;
	margin-bottom: 5px;
	text-align: left;
}

.device-class-item:hover {
	background-color: #404040;
}

.device-patching {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #303030;
	border: 2px solid #505050;
	/* box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; */
}

.device-patching-main-section {
	display: flex;
	flex-direction: row;
	border-right: 2px solid #505050;
	width: 100%;
	position: relative;
	overflow-x: auto;
}

.device-patching-side-section {
	display: flex;
	flex-direction: column;
	background-color: #404040;
	border-left: 2px solid #505050;
	width: 260px;
	flex: 1;
}

.device-patching-top-panel {
	height: 40px; /* Fixed height for the Associate button */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #303030;
	border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.device-patching-middle-panel {
	flex: 1; /* 50% of the remaining space */
	background-color: #404040;
	border-bottom: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.device-patching-bottom-panel {
	flex: 1; /* 50% of the remaining space */
	background-color: #404040;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.main-section {
	width: 80%; /* 80% of the horizontal space */
	border-right: 2px solid #505050;
	display: flex;
	flex-direction: column; /* Stack RackRows vertically */
	align-items: stretch; /* Ensure RackRows take full width */
	justify-content: flex-start;
	gap: 4px; /* Add gap between rows */
	background-color: #404040;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.rack-row {
	position: relative;
	background-color: #303030; /* Darker gray for RackRow */
	border: 1px solid #aaa; /* Slightly darker border */
	margin-bottom: 5px;
	width: 250px;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
	gap: 5px;
	flex-direction: column;
	min-width: 200px;
}

.rack-row[data-slot]:hover {
	background-color: #303030; /* Highlight slot during drag-over */
	border: 2px dashed #505050; /* Dashed border for drop area */
}

.rack-row select {
	width: 100%;
}

.rack-row.horizontal {
	align-items: center;
	width: 100%;
	height: 150px;
	min-height: 150px;
	flex-direction: row;
}

.rack-row.horizontal select {
	min-width: 21px;
	width: 21px;
	height: 100%;
}

.device-patching-main-section.horizontal {
	flex-direction: column;
}

.rightbar-button {
	width: 100%;
	padding: 0px;
	text-align: center;
	padding: 0px;
	height: 49px;
	font-size: 15px;
}

.device-component {
	background-color: #404040;
	border: 5px solid orange;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	width: 190px;
	min-width: 190px;
	height: 140px;
}

.device-name {
	position: relative;
	font-size: 12px;
	font-weight: bold;
	color: #f0f0f0; /* Black text for the name */
	text-align: center;
}

.device-sections {
	display: flex;
	justify-content: space-between; /* Position sections on sides */
	height: 100%;
	width: 100%;
	max-height: 100px; /* ou autre valeur selon ton besoin */
	overflow-y: auto;
}

.device-side {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; /* Distribute sections evenly */
	height: 100%;
}

.device-side.left {
	align-items: flex-start; /* Align sections to the left */
}

.device-side.right {
	align-items: flex-end; /* Align sections to the right */
}

.device-section {
	display: flex;
	align-items: center;
	gap: 5px; /* Space between section box and name */
}

.device-section.selected .device-section-box {
	background-color: #ffff66;
}

.device-section-box {
	width: 20px;
	height: 20px;
	background-color: #ffaa00;
	border-radius: 3px;
	cursor: pointer;
}

.device-section-box:hover {
	background-color: #ffff66;
}

.device-section-name {
	font-size: 10px;
	font-weight: bold;
	color: #f0f0f0;
}

.device-section-name.left {
	margin-left: 5px; /* Add space to the left of the section box */
}

.device-section-name.right {
	margin-right: 5px; /* Add space to the right of the section box */
}

.side-section {
	width: 20%; /* 20% of the horizontal space */
	display: flex;
	flex-direction: column;
	background-color: #404040;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.associate-button {
	width: 100%;
	height: 100%;
	background-color: #303030;
	border: 2px solid #505050;
	font-size: 16px;
	font-weight: bold;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif; /* Use the same font */
	cursor: pointer;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; /* Amiga-style 3D effect */
}

.associate-button:hover {
	background-color: #ffaa00; /* Highlight in #ffaa00 on hover */
}

.associate-button.active {
	background-color: #ffff66;
	box-shadow: inset 1px 1px 0px #505050, inset -1px -1px 0px #101010; /* Inverted 3D effect */
}

button.active {
	background-color: #ffff66;
	box-shadow: inset 1px 1px 0px #505050, inset -1px -1px 0px #101010;
}

.patching-modal,
.about-modal,
.save-modal,
.load-modal,
.settings-modal,
.welcome-modal,
.error-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: white;
	transform: translate(-50%, -50%); /* Center the modal */
	display: flex;
	flex-direction: column;
	border: 2px solid #505050;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.patching-modal {
	width: 80%;
	height: 60%;
}

.about-modal {
	width: 400px;
	height: 250px;
}

.error-modal {
	width: 80%;
	height: auto;
	max-height: 60%;
}

.save-modal {
	width: 400px;
	height: 250px;
}

.load-modal {
	width: auto;
	height: auto;
	max-height: 60%;
	max-width: 80%;
}

.settings-modal {
	z-index: 1;
	width: 680px;
	height: 100px;
}

.welcome-modal {
	width: 80%;
	height: 35%;
}

.modal-header {
	height: 40px; /* Fixed height for the header */
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #303030;
	border-bottom: 2px solid #505050;
	padding: 0 10px;
}

.close-button {
	background-color: #303030;
	border: 2px solid #505050;
	padding: 5px 10px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif; /* Use the same font */
	cursor: pointer;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; /* Amiga-style 3D effect */
}

.modal-body,
.about-modal-body,
.settings-modal-body,
.save-modal-body,
.load-modal-body {
	flex: 1;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.about-modal-body,
.save-modal-body {
	align-items: center;
}

.save-modal-body {
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10px;
	justify-content: space-around;
}

.error-modal-body,
.load-modal-body {
	margin-left: 10px;
	overflow-y: auto;
	overflow-x: auto;
}

.load-modal-body {
	margin-right: 20px;
}

.welcome-modal-body {
	display: flex;
	flex-direction: column;
	padding: 10px;
	overflow-y: auto;
}

.save-modal-body input[type="text"] {
	width: 45%;
	padding: 5px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	background-color: #303030;
	color: #f0f0f0;
}

.settings-modal-body input[type="text"] {
	width: 60%;
	padding: 5px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	background-color: #303030;
	color: #f0f0f0;
}

.left-panel {
	flex: 4; /* 80% of the horizontal space */
	display: flex;
	flex-direction: row;
	border-right: 2px solid #505050;
}

.top-left-panel {
	flex: 1;
	background-color: #404040;
	border-bottom: 2px solid #505050;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
	overflow-y: auto;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	overflow-x: auto;
}

.top-left-panel h3 {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.top-left-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.top-left-panel li {
	font-size: 12px;
	margin-bottom: 5px;
}

.bottom-left-panel {
	flex: 1; /* 50% of the vertical space */
	background-color: #404040;
	border-bottom: 2px solid #505050;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 10px;
	overflow-y: auto; /* Allow scrolling if content overflows */
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.bottom-left-panel h3 {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.bottom-left-panel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bottom-left-panel li {
	font-size: 12px;
	margin-bottom: 5px;
}

.right-panel {
	flex: 1;
	display: flex;
	flex-direction: column; /* nécessaire pour empiler top et bottom */
	background-color: #505050;
	border-left: 2px solid #505050;
	max-width: 340px;
}

.modal-content {
	background-color: white;
	width: 90%; /* Adjust content width */
	height: 80%; /* Adjust content height */
	padding: 20px;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	overflow: auto; /* Allow scrolling if content overflows */
}

.parameters-grid {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	width: 100%; /* Take full horizontal space */
	height: 100%; /* Ensure the grid takes full height of the container */
	flex-wrap: wrap;
}

.parameters-grid.right {
	align-items: flex-start;
	transform: translateX(20%);
}

.parameters-grid.left {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	padding-left: 20px;
	width: 100%;
}

.parameter {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	overflow: visible;
}

.parameter-box {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	background-color: #303030; /* Gray square for parameters */
	border: 2px solid #505050; /* Amiga-style border */
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0; /* Amiga-style 3D effect */
	position: relative;
}

.parameter-name {
	font-size: 10px;
	font-weight: bold;
	color: #f0f0f0; /* Black text for parameter names */
	position: absolute;
	text-align: left; /* Align the text to the left */
	white-space: nowrap; /* Adjust to align with the center of the parameter box */
}

.parameter-name.left {
	top: 50%;
	right: 100%; /* place à gauche du carré */
	transform: translateY(-50%);
	white-space: nowrap;
	text-align: right;
	padding-right: 4px; /* colle le texte au carré */
}

.parameter-name.right {
	top: 50%;
	left: 110%; /* Juste à droite du carré */
	transform: translateY(-50%);
	white-space: nowrap;
	text-align: left;
}

.parameter:hover .parameter-box,
.parameter.selected .parameter-box,
.midi-icon.selected,
.note-box.selected,
.patch.selected,
.patch.selected:hover,
.midi-icon.selected:hover,
.note-box.selected:hover {
	background-color: #ffaa00;
}

.parameter:not(.selected) .parameter-box {
	background-color: #303030;
}

.connection-setup {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: #f0f0f0;
	background-color: #404040;
	padding: 10px;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.connection-setup h3 {
	margin: 0 0 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.connection-setup label {
	display: block;
	margin-bottom: 10px;
	font-size: 12px;
}

.connection-setup input[type="checkbox"] {
	margin-right: 5px;
}

.connection-setup .form-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: flex-end;
}

.connection-setup input[type="text"] {
	width: 45%;
	padding: 5px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	background-color: #303030;
	color: #f0f0f0;
}

.connection-setup select {
	width: 100%;
	padding: 5px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	background-color: #303030;
	color: #f0f0f0;
}

.connection-item.selected {
	background-color: #ffaa00;
	font-weight: bold;
}

.connection-item:hover {
	background-color: #202020;
	font-weight: bold;
}

.parameter-info {
	height: 100%; /* Ensure consistent height */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	background-color: #404040;
	border: 2px solid #505050;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

.connections-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.connections-list li {
	font-size: 12px;
	margin-bottom: 5px;
	color: #f0f0f0;
}

.app-layout {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #202020;
}

.top-section {
	/* flex: auto; */
	/* max-height: 20%; */
	display: flex;
	border-bottom: 2px solid #505050;
}

.bottom-section {
	flex: auto;
	/* min-height: 80%; */
	display: flex;
}

.connection-svg {
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Allow clicks to pass through the SVG */
}

.connection-svg.modal {
	z-index: 1;
}

.device-patching-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Allow clicks to pass through the SVG */
}

.midi-ports {
	display: flex;
	gap: 10px; /* Space between ports */
	justify-content: center;
	align-items: center;
}

.midi-ports-grid {
	display: flex;
	justify-content: space-between; /* Distribute ports evenly */
	align-items: center;
	width: 100%; /* Take full horizontal space */
}

.midi-port {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.midi-port-name {
	font-size: 10px;
	font-weight: bold;
	color: #f0f0f0;
	margin-bottom: 5px; /* Space between name and circle */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50px; /* Limit the width for truncation */
}

.midi-port-name:hover {
	overflow: visible;
	white-space: normal;
	background-color: #101010;
	padding: 2px;
	border: 1px solid #505050;
	position: absolute;
	top: -20px; /* Position above the name */
	z-index: 1;
}

.midi-port-circle {
	width: 30px;
	height: 30px;
	background-color: #303030;
	border: 2px solid #505050;
	border-radius: 50%;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: dark;
		color: #f0f0f0;
		background-color: #202020;
		color: #f0f0f0;
		background-color: #202020;
	}
	a:hover {
		color: #66ccff;
	}
	button {
		background-color: #303030;
	}
}

.amiga-button {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #303030;
	border: 2px solid #505050;
	color: #f0f0f0;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 5px;
	cursor: pointer;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	/* width: 40px; */
	/* height: 40px; */
}

.amiga-button:hover {
	background-color: #404040;
}

.play-pause-button {
	width: 24px;
}

.center-button {
	position: absolute;
	/* top: 50%; */
	/* left: 50%; */
	transform: translate(-50%, 60%);
}

/* UI for CodeMirror */
[class^="cm-theme"] {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.cm-editor .cm-scroller,
.cm-content {
	box-sizing: border-box;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.cm-gutters {
	font-size: 12px; /* tu peux réduire ici si tu veux */
}

.cm-tooltip {
	background: #505050; /* Couleur de fond clair comme les vieilles interfaces */
	color: #000; /* Texte noir */
	border: 2px solid #000; /* Bordure noire épaisse */
	border-radius: 4px;
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	box-shadow: 4px 4px 0px #ccc; /* effet de profondeur rétro */
}

.cm-tooltip-autocomplete {
	background: #404040; /* un peu plus gris clair pour l'autocompletion */
}

.cm-tooltip-autocomplete ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cm-tooltip-autocomplete li {
	padding: 4px 8px;
	cursor: pointer;
}

.cm-tooltip-autocomplete li[aria-selected] {
	background: #000;
	color: #fff;
}

.cm-tooltip,
.cm-tooltip-autocomplete,
.cm-tooltip-autocomplete ul,
.cm-tooltip-autocomplete li {
	font-family: "Amiga Forever", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
	font-size: 12px;
}

.cm-lintRange-error {
	background-color: rgba(255, 0, 0, 0.1);
	background-image: none !important;
	border-bottom: 2px dotted red;
}

.scope {
	background-color: #404040;
	border: 5px solid #505050;
	box-sizing: border-box;
	position: inherit;
	align-items: center;
	padding: 5px;
	height: 140px;
	width: 190px;
}

.midi-container {
	width: fit-content;
	background-color: #f9f9f9;
	overflow: hidden;
	transition: all 0.3s ease;
}

.left-midi {
	transform: translateX(20%);
}

.right-midi {
	transform: translateX(-20%);
}

.midi-header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px 12px;
	cursor: pointer;
	background-color: #404040;
	user-select: none;
}

.midi-icon {
	font-size: 18px;
	padding: 4px 6px;
	border: 2px solid #505050;
	border-radius: 4px;
	box-shadow: inset -1px -1px 0px #101010, inset 1px 1px 0px #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.midi-toggle-icon {
	font-size: 14px;
}

.midi-container.open .midi-header {
	justify-content: center;
}

.midi-grid-octaves {
	display: flex;
	gap: 2px;
	align-items: flex-start;
	justify-content: center;
	padding: 12px;
}

.octave-column {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.note-box {
	background-color: #eee;
	border: 1px solid #bbb;
	padding: 6px;
	font-size: 11px;
	text-align: center;
	border-radius: 3px;
	cursor: default;
}

.note-box:hover {
	background-color: #ccc;
}

.notification-bar {
	height: 32px;
	max-height: 32px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 10px;
	background-color: #a0a0a0;
}

@media (max-height: 450px) {
	h3 {
		font-size: 15px;
	}

	li {
		font-size: 11px !important;
	}

	.associate-button {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}

	/* .device-patching.vertical {
		height: 145%;
	} */

	.parameters-grid {
		flex-wrap: nowrap;
	}

	.parameters-grid.right {
		align-items: flex-start;
		transform: translateX(20%);
	}

	.parameters-grid.left {
		flex-wrap: nowrap;
	}

	.device-patching-main-section {
		overflow-x: auto;
	}

	.rack-row {
		width: 200px;
		height: 100%;
		min-width: 200px;
	}

	/* .top-section {
		max-height: 90%;
	} */

	.bottom-section {
		min-height: 84%;
	}

	.parameters-grid {
		flex-wrap: nowrap;
	}

	.right-panel {
		max-width: 35%;
	}

	.connection-svg {
		top: 30px;
	}

	.settings-modal {
		width: 90%;
	}

	.settings-modal-body input[type="text"] {
		width: 55%;
		padding: 5px;
	}

	.welcome-modal {
		width: 95%;
		height: 90%;
	}

	.logWindow {
		width: 93%;
		height: 80%;
		margin: 2% !important;
		left: 0px !important;
		top: 0px !important;
	}

	.logWindow pre {
		font-size: 10px;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow-x: hidden,;
	}

	.patching-modal {
		width: 95%;
		height: 77%;
	}

	.parameter-box {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 600px) {
	h3 {
		font-size: 15px;
	}

	.top-left-panel h3 {
		transform: rotate(90deg);
		transform-origin: right;
		margin-top: 10px;
		margin-right: 5px;
		max-width: 26px;
		position: relative;
	}

	.bottom-left-panel h3 {
		font-size: 14px;
		font-weight: bold;
		transform: rotate(90deg);
		transform-origin: left bottom;
		max-width: 10px;
		margin-top: -21px;
		margin-right: 5px;
	}

	li {
		font-size: 11px !important;
	}

	.associate-button {
		font-size: 14px;
	}

	p {
		font-size: 12px;
	}
	.rack-row {
		align-items: center;
		height: 100%;
		width: 200px;
		min-width: 200px;
	}

	.rack-row select {
		width: 100%;
		height: 21px;
	}

	.device-patching-main-section {
		overflow-x: auto;
	}

	.bottom-section {
		min-height: 93%;
	}

	.parameters-grid {
		flex-wrap: nowrap;
	}

	.connection-svg {
		top: 30px;
	}

	.settings-modal {
		width: 90%;
	}

	.settings-modal-body input[type="text"] {
		width: 55%;
		padding: 5px;
	}

	.welcome-modal {
		width: 95%;
		height: 90%;
	}

	.logWindow {
		width: 93%;
		height: 80%;
		margin: 2% !important;
		left: 0px !important;
		top: 0px !important;
	}

	.logWindow pre {
		font-size: 10px;
		white-space: pre-wrap;
		word-wrap: break-word;
		overflow-x: hidden,;
	}

	.modal-header.playground {
		height: 60px;
		flex-wrap: wrap;
	}

	.patching-modal {
		width: 92%;
		height: 70%;
	}

	.modal-header label {
		font-size: small;
	}

	.modal-header label select {
		width: 20px;
	}

	.modal-body.patching {
		flex-direction: column;
	}

	.left-panel {
		flex-direction: column;
		width: 100%;
		flex: 2.5;
		min-height: 30%;
	}

	.right-panel {
		flex-direction: row-reverse;
		max-width: 100%;
		max-height: 30%;
	}

	.parameters-grid.left {
		flex-direction: row-reverse;
		padding-left: unset;
	}

	.parameter-box {
		width: 20px;
		height: 20px;
	}

	.parameter-name.left {
		display: inline-block;
		transform: rotate(90deg);
		transform-origin: right bottom;
		line-height: 1.2;
		top: -11px;
		right: 18px;
	}

	.text-wrapper {
		display: flex;
		height: auto;
		width: auto;
	}

	.parameters-grid.right {
		flex-direction: row-reverse;
		transform: unset;
	}

	.parameter-name.right {
		transform: rotate(90deg) translateX(59%);
		left: unset;
	}

	.about-modal {
		width: 90%;
		height: 32%;
	}

	.save-modal {
		width: 94%;
		height: 25%;
	}

	.bottom-left-panel {
		flex-direction: row-reverse;
	}

	.top-left-panel {
		flex-direction: row-reverse;
	}
}
