[Unit]
Description=Nallely service, launched with a Trevor bus
After=pipewire.target

[Service]
Environment=HOME=/home/drschlange
Environment=MAMBA_ROOT_PREFIX=/home/drschlange/dev/micromamba
Environment=MAMBA_EXE=/home/drschlange/.local/bin/micromamba
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=PIPEWIRE_RUNTIME_DIR=/run/user/1000
Environment=PATH=/home/drschlange/.local/bin:/home/drschlange/dev/micromamba/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
WorkingDirectory=/home/drschlange
Type=simple
Group=drschlange
ExecStart=/usr/bin/tmux new-session -s nallely -d '/home/drschlange/start-nallely.bash'
ExecStop=/usr/bin/tmux kill-session -t nallely
Restart=no
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
