name: Build Nallely Binary for Windows x64

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.13.0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -e .

      - name: Install Yarn
        run: npm install -g yarn

      - name: Prepare Trevor-UI
        shell: pwsh
        run: |
          $DEST_FOLDER = "trevor-ui"
          mkdir $DEST_FOLDER
          Remove-Item -Recurse -Force trevor\node_modules -ErrorAction SilentlyContinue
          cd trevor
          yarn install
          yarn build
          cd ..
          Copy-Item trevor\dist\* $DEST_FOLDER -Recurse -Force
          Copy-Item visuals $DEST_FOLDER -Recurse -Force
          Copy-Item libs\js\gb.html $DEST_FOLDER -Force
          Copy-Item libs\js\audio-analysis.html $DEST_FOLDER -Force
          Copy-Item libs\js\webcam.html $DEST_FOLDER -Force
          Copy-Item libs\js\gps.html $DEST_FOLDER -Force

      - name: Build with PyInstaller
        run: |
          pyinstaller nallely-windows.spec

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: nallely-windows-x64
          path: dist/
